<!-- Skype Demo -->
<script type="text/javascript" src="http://download.skype.com/share/skypebuttons/js/skypeCheck.js"></script>
<div class="default-page">
    <a href="skype:tantanntan?call">Skype Me!!</a>
</div>
